<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.rapid.module.party.dao.PersonDAO"> 
	<resultMap id="PersonMap" type="com.rapid.module.party.model.Person"> 
		<result property="partyId" column="party_id" /> 
		<result property="realname" column="realname" /> 
		<result property="nickname" column="nickname" /> 
		<result property="gender" column="gender" /> 
		<result property="birthDate" column="birth_date" /> 
		<result property="comments" column="comments" /> 
		<result property="createStamp" column="create_stamp" /> 
		<result property="lastUpdateStamp" column="last_update_stamp" /> 
	</resultMap> 
	<sql id="allColumns">  
		party_id,realname,nickname,gender,birth_date,comments,create_stamp,last_update_stamp 
	</sql> 
	<sql id="dynamicWhere"> 
     <where> 
       <trim prefixOverrides="and"> 
		<if test="partyId != null" >and party_id = #{partyId}</if>
		<if test="realname != null" >and realname = #{realname}</if>
		<if test="nickname != null" >and nickname = #{nickname}</if>
		<if test="gender != null" >and gender = #{gender}</if>
		<if test="birthDate != null" >and birth_date = #{birthDate}</if>
		<if test="comments != null" >and comments = #{comments}</if>
		<if test="createStamp != null" >and create_stamp = #{createStamp}</if>
		<if test="lastUpdateStamp != null" >and last_update_stamp = #{lastUpdateStamp}</if>
       </trim> 
     </where> 
	</sql> 
	<!-- 通过复合条件查询 --> 
	<select id="select" parameterType="java.util.HashMap" resultMap="PersonMap">  
		select <include refid="allColumns" />  
		from  person 
		<include refid="dynamicWhere" /> 
	</select> 

	<!-- 通过主键查询对象 --> 
	<select id="selectById" parameterType="java.lang.String" resultMap="PersonMap">  
			select <include refid="allColumns" />  
			from  person 
			where party_id = #partyId#  
	</select> 

	<!-- 统计 --> 
	<select id="selectCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">  
		select count(1) 
		from  person 
		<include refid="dynamicWhere" /> 
	</select> 

	<!-- 新增对象 --> 
	<insert id="insert" parameterType="com.rapid.module.party.model.Person">  
		insert into person 
		(  
			<include refid="allColumns" /> 
		)  
		values  
		(  
			#partyId#,#realname#,#nickname#,#gender#,#birthDate#,#comments#,#createStamp#,#lastUpdateStamp# 
		)  
	</insert> 

	<!-- 修改对象 --> 
	<update id="update" parameterType="com.rapid.module.party.model.Person">  
		update person 
		<set> 
			<if test="realname != null" >realname = #{realname},</if> 
			<if test="nickname != null" >nickname = #{nickname},</if> 
			<if test="gender != null" >gender = #{gender},</if> 
			<if test="birthDate != null" >birth_date = #{birthDate},</if> 
			<if test="comments != null" >comments = #{comments},</if> 
			<if test="createStamp != null" >create_stamp = #{createStamp},</if> 
			<if test="lastUpdateStamp != null" >last_update_stamp = #{lastUpdateStamp},</if> 
		</set>  
		where party_id = #partyId# 
	</update> 

	<!-- 通过主键删除对象 --> 
	<delete id="deleteById" parameterType="java.lang.String"> 
		delete from person 
		where party_id = #partyId# 
	</delete> 

</mapper> 
